<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myPortal" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
<script src="scripts/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/controller/home.js"></script>
</head>

<body ng-app="myApp" >
<div id="customerDiv" ng-controller="homeCtrl">
  <label>Name : </label>
  <input type="text" name="name" ng-model="custName" />
  <br />
  <label>Code : </label>
  <input type="text" name="code" ng-model="custCode" />
  <br />
  <span>Name : {{custName}}</span><br /><span>Code : {{custCode}}</span> 
  <div>{{siteUrl}}</div>
</div>
  

</body>
</html>
